*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dmargin:5px 10px;
    --ffmaily:cursive;
    --bgColor:rgb(224, 223, 223);
    --pcolor:rgb(53, 101, 52);
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 60%;
    height: 100%;
}
.logo{
    margin: var(--dmargin);
    font-family: var(--ffmaily);
    margin-bottom: 80px;
}
.basket-text{
    display: flex ;
}
.basket{
    font-size: 28px;

}
.basket_items{
    font-size: 14px;
    color: rgb(74, 74, 74);
    margin: 12px 0 25px 5px;
}
.main-box{
    display: flex;
    justify-content: space-between;
}
.item-boxes{
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    height: auto;
}
.boxes{
    width: 100%;
    height: 120px;
    background-color: var(--bgColor);
    margin:10px 0;
    border-radius: 15px;
}

.basket1-items{
    display: grid;
    grid-template-columns:2fr 4fr 1fr;
}
.b1-item{
    height: 120px;
    overflow: hidden;
    padding: 5px;
}
.b1-item:nth-child(2),.b1-item:nth-child(3){
    padding: 15px 5px;
}
.b1-item img{
    width: 100%;
    height: 100%;
}
.b1-center-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.b1-center-content{
    width: 100%;
    height: 50%;
    font-size: 17px;
}
.b1-center-content:nth-child(2){
    color: rgb(66, 65, 65);
}
.b1-btns{
    background-color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

.right-box{
    margin: 10px 0 0 0;
    width: 250px;
    height: fit-content;
    padding:25px 15px;
    border-radius: 20px;
    background-color: var(--bgColor);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  
}
.right-box-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-summary{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 15px 0;
}
.right-box-right-content{
    margin:45px 0 0 0;
}
.gray-text{
    color: rgb(77, 76, 76);
}

.check-out-btn{
    width: 80%;
    padding: 5px;
    background-color:var(--pcolor);
    color: white;
    border: none;
    border-radius: 15px;
    margin: 15px 0 0 0;
}
